.location_detail_wrapper {
  position: relative;
  /*min-height: */
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}
.location_name {
  margin-top: 0px;
}
.location_in_biz {
  color: black;
}
.location_out_biz {
  color: red;
}
.location_addr,
.location_phone {
  color: black;
  margin: 5px 0;
}
.location_url_wrapper {
  margin: 5px 0;
}
.location_url {
  color: blue;
}
.location_about_wrapper .location_about_content {
  max-height: 100px;
  overflow-y: auto;
}
.location_about_wrapper p {
  margin: 0;
}
.location_about {
  margin-bottom: 10px;
}
.location_about_wrapper p {
  line-height: 1.6;
  margin-bottom: 10px;
}
.location_add_review_button_wrapper {
  display: flex;
  justify-content: flex-end;
}