.review_list_wrapper {
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px;
}
.review_list_header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.review_list_header h2 {
  margin: 0;
}
.review_list_add_review_button {
  margin-right: 10px;
}
.review_list_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.review_list_li {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0 10px 0;
}
.review_date {
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 20px;
}
.review_date span {
  display: inline-block;
  margin-left: 10px;
}
.review_header {
  font-weight: bold;
  margin-bottom: 10px;
}
.review_review {
  padding: 10px;
  border: 1px solid black;
}
.review_buttons_wrapper {
  display: flex;
  justify-content: flex-end;
}
.review_delete_button {
  margin-left: 5px;
}