/* mobile and non-mobile */
.about_title {
  /*font-family: 'klinkomite', Times, serif;*/
  font-family: 'Acme', Times, serif;
  font-size: 40px;
  font-style: italic;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 20px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/* mobile and non-mobile */
.about_sections_wrapper {
  height: 90vh;
  overflow-y: auto;
  padding: 0 20px 20px 20px;
}
/* mobile and non-mobile */
.about_overview_section_title,
.about_dashboard_section_title,
.about_review_section_title {
  font-family: 'Acme', Times, serif;
  font-size: 30px;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/* mobile and non-mobile */
.about_overview_content_title,
.about_dashboard_content_title,
.about_review_content_title {
  font-family: 'Acme', Times, serif;
  font-size: 30px;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* Overview -BEGIN  //////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
.about_overview_section {
  margin-top: 10px;
}
.about_overview_article {
  display: flex;
  background-color: #5BA3D7;
}
.about_overview_content_wrapper {
  padding: 20px;
}
.about_overview_content p {
  font-size: 20px;
  color: white;
  /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}
/* non-mobile */
@media only screen and (max-width: 800px) {
  .about_overview_article {
    flex-direction: column;
  }
  .about_overview_article_image {
    width: 100%;
  }
  .about_overview_content_wrapper {
    width: 100%;
  }
}
/* ///////////////////////////////////////////////////////////////////////// */
/* Overview - END  ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

/* TODO - orig - b/f refact dashboard, review */
/* ///////////////////////////////////////////////////////////////////////// */
/* Dashboard / Reviews - BEGIN  //////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/*.about_dashboard_section,*/
/*.about_review_section {*/
  /*margin-top: 40px;*/
/*}*/
/*.about_dashboard_article,*/
/*.about_review_article {*/
  /*display: flex;*/
  /*background-color: #5BA3D7;*/
  /*margin-bottom: 15px;*/
/*}*/
/*.about_dashboard_content_wrapper,*/
/*.about_review_content_wrapper {*/
  /*padding: 20px;*/
/*}*/
/*.about_dashboard_article_image {*/
  /*height: 375px;*/
  /*min-width: 800px;*/
  /*width: 800px;*/
/*}*/
/*.about_review_article_image {*/
  /*height: 450px;*/
  /*min-width: 800px;*/
  /*width: 800px;*/
/*}*/
/*.about_dashboard_content p,*/
/*.about_review_content p {*/
  /*font-size: 20px;*/
  /*color: white;*/
/*}*/
/* ///////////////////////////////////////////////////////////////////////// */
/* Dashboard / Reviews - END  ////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

/* TODO - refact dashboard, review */
/* ///////////////////////////////////////////////////////////////////////// */
/* Dashboard / Reviews - BEGIN  //////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
.about_dashboard_section,
.about_review_section {
  margin-top: 40px;
}
.about_dashboard_article,
.about_review_article {
  display: flex;
  background-color: #5BA3D7;
  margin-bottom: 15px;
}
.about_dashboard_content_wrapper,
.about_review_content_wrapper {
  padding: 20px;
}
/* non-mobile */
@media only screen and (min-width: 800px) {
  .about_dashboard_article_image {
    height: 375px;
    min-width: 800px;
    width: 800px;
  }
  .about_review_article_image {
    height: 450px;
    min-width: 800px;
    width: 800px;
  }
}
@media only screen and (max-width: 800px) {
  .about_dashboard_article {
    flex-direction: column;
    width: 90vw;
  }
  .about_dashboard_article_image {
    width: 90vw;
  }
  /*.about_overview_content_wrapper {*/
    /*width: 90vw;*/
  /*}*/
  .about_review_article_image {
    width: 90vw;
  }
}
.about_dashboard_content p,
.about_review_content p {
  font-size: 20px;
  color: white;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* Dashboard / Reviews - END  ////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */