.nav {
  display: flex;
  justify-content: flex-end;
  /*height: 30px;*/
  margin-top: 15px;
  margin-bottom: 20px;
}
.nav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px 10px 0 0;
}
.nav a:hover {
  color: white;
  background-color: cornflowerblue;
}