.dashboard_title {
  /*font-family: 'klinkomite', Times, serif;*/
  font-family: 'Acme', Times, serif;
  /*font-family: 'Cherry+Cream+Soda', Times, serif;*/
  font-size: 40px;
  font-style: italic;
  color: #fff;
  /*color: paleturquoise;*/
  position: absolute;
  top: 10px;
  left: 20px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.dashboard_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}
.dashboard_map_filters_location_list_wrapper {
  display: flex;
  background-color: white;
  padding: 20px;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* screen greater than or equal to 1260px - BEGIN  ///////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 1260px) {
  /* non-mobile - no special CSS needed.
     Flexbox CSS creates side by side columns  */
}
/* ///////////////////////////////////////////////////////////////////////// */
/* screen greater than or equal to 1260px - END  /////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////// */
/* screen less than or equal to 1260px - BEGIN  //////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 1260px) {
  .dashboard_map_filters_location_list_wrapper {
    flex-direction: column;
    min-width: 470px;
  }
}
/* ///////////////////////////////////////////////////////////////////////// */
/* screen less than or equal to 1200px - END  ////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */