/* map css classNames defined in dashboard.js <Map> component */
.map_wrapper {
  height: 550px;
  width: 800px;
  padding: 10px;
  border: 1px solid black;
}
.map_element{
  height: 530px;
  width: 780px;
}

/* https://github.com/google-map-react/google-map-react/issues/377 */
/*.gm-style:first-of-type > div:nth-child(1) {*/
  /*cursor: default !important;*/
/*}*/
