/* react-ggogle-map css*/
.map-and-map-filter-wrapper {
  display: flex;
}
.map-wrapper,
.map-element{
  height: 550px;
  width: 800px;
}
.map-filter-wrapper {

}
.map-locations-ul {
  height: 400px;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.map-locations-li {
  list-style: none;
  padding: 3px 0;
}
.map-locations-li:hover {
  cursor: pointer;
  font-weight: bold;
  color: dodgerblue;
}